<html>
  <head>
    <title>React app</title>
  </head>
  <body>
    <div id="app"></div>
    <%= javascript_include_tag 'bundle' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </body>
</html>
